[submodule "cpp/lib/spdlog"]
	path = cpp/lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "simple_jack/lib/spdlog"]
	path = simple_jack/lib/spdlog
	url = https://github.com/gabime/spdlog.git
