// Defines sizes
$size-mobile                 : 400px;
$size-phablet                : 700px;
$size-tablet                 : 750px;
$size-desktop                : 1000px;
$size-hd                     : 1200px;

$size-main-container-top     : 1rem;
$size-main-container-margin  : 200px;
$size-main-container-rel     : 95%;
$size-main-container-fixed   : 960px;

$size-grid-margin : 1rem;

$size-header-height          : 10rem;
$size-header-height-mobile   :  7rem;
$size-header-width           : 25rem;
$size-header-overlay-height  : 10rem;

$size-menu-width : 19rem;

$size-popup       : 30rem;
$size-popup-header: 2rem;
